# This commented-out list is for reference. The actual requirements are listed below it.
# torch
# torchvision
# fastapi
# uvicorn
# pillow
# mlflow
# scikit-learn
# matplotlib
# seaborn
# python-dotenv
# kaggle
# pytest

flask==2.2.5
gunicorn==21.2.0
pillow==9.5.0
numpy==1.24.4

torch==1.13.1
torchvision==0.14.1


pytest
